.card {
    box-sizing: content-box;
    box-sizing: border-box;
    background-color:yellow;
}

.forecast {
    background-color: rgb(63, 227, 230);

}

/* .day1, .day2, .day3, .day4, .day5 {
    background-color:white;

} */

.cityName {
    padding: .25rem;
    color: black;
    font-style: normal;
    box-sizing: border-box;
}

#forecastDayWeather{
    padding:15px;
    margin-top: 2px;

}