.card {
    box-sizing: content-box;
    box-sizing: border-box;
    background-color:lightskyblue;
}

.cardImages {
    background-color:lightskyblue;
}

.forecast {
    padding:15px;
    margin-top: 2px;
    box-sizing: border-box;
    box-shadow: black;
    font-style: normal;


}

.cityName {
    padding: .25rem;
    color: black;
    font-style: normal;
    box-sizing: border-box;
}

.linkedImg {
    grid-row: 2px;
    box-sizing: border-box;
    box-sizing: content-box;
    margin-left: auto;
}

@media screen and (max-width:800px) {
    #left, #middle, #right {
      width:100%; 
    }
  }
