.card {
    box-sizing: content-box;
    box-sizing: border-box;
}

.cityName {
    padding: .25rem;
    color: black;
    box-sizing: border-box;
}

#forecastDayWeather{
    padding:5px;
    margin: 2px;

}